@model Group

@{
	ViewData["Title"] = "Group Files";
}

<div class="main-content">
	<div class="page-title-with-back-menu">
		<a asp-controller="Courses" asp-action="GroupList" asp-route-id="@ViewBag.CourseId" class="">
			<i class="bi bi-chevron-left"></i>
			Back
		</a>
		<h1 class=""></h1>
	</div>
	<div class="page-title-with-button">
		<h2>@Model.GroupName Files</h2>
		<button class="blue-button btn">
		<a class="link-unstyled" href="@Url.Action("SubmitFile", "Groups", new { id = ViewBag.GroupId })">Upload Files</a>
		</button>
		</div>
	
	<table class="table">
		<thead>
			<tr>
				<th>Group Member</th>
				<th>Upload Date</th>
				<th>Files</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var file in Model.GroupFileUploads)
			{
				<tr>
					<td>@(file.Student.FirstName + " " + file.Student.LastName)</td>
					<td>@file.SubmissionDate.ToString("dd/MM/yyyy hh:mm tt")</td>
					<td>
					@foreach (var f in file.GroupFiles)
					{
								<a asp-action="DownloadFile" asp-route-id="@f.Id" asp-route-fileType="GroupFile">@f.FileName</a>
								<br />
					}
					</td>
				  <td>
						@if (file.Student.Email == User.Identity.Name)
						{
									<a class="float-end btn btn-sm btn-danger mr-1" title="Delete Group" href="@Url.Action("DeleteFile", "Groups", new{id = file.Id})"><i class="bi bi-trash"></i></a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>