@model Course

<h1>@Model.CourseName</h1>

<h2>Lectures</h2>
<a asp-controller="Lectures" asp-action="Create" asp-route-id="@Model.Id">Create Lecture</a>
<div class="row">
    @foreach (var lecture in Model.Lectures)
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3>@lecture.Title</h3>
                    <p>@lecture.Description</p>

                    <ul>
                        @foreach (var file in lecture.LectureFiles)
                        {
                            var lecFile = Url.Action("DownloadFile", "Lectures", new { id = file.Id });
                            <img src="@lecFile" />
                            <li>
                                <a href="@lecFile">@file.FileName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
