@model Course

@{
	ViewData["Title"] = "Classlist";
}

<div class="main-content">
@await Html.PartialAsync("_CourseNavbar")

<div class="page-title-with-button m-4">
	<h2>Classlist</h2>
	@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
	{
		<button>
			<a asp-action="AddStudents" asp-route-Id="@Model.Id">Enroll Students</a>
		</button>
	}
</div>

<table class="table">
	<thead>
		<tr>
			<th>Student Name</th>
			<th>Student Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Model.Students)
		{
			<tr>
				<td>@(student.FirstName + " " + student.LastName)</td>
				<td>@student.UserName</td>
				@if (User.IsInRole("Teacher") || User.IsInRole("Admin")){
				<td>
					<form method="post" asp-action="RemoveStudent" asp-route-courseId="@Model.Id" asp-route-studentId="@student.Id">
								<a href="#" class="float-end btn btn-sm btn-danger mr-1" onclick="this.parentNode.submit(); return false;">
									<i class="bi bi-trash"></i>
								</a>
					</form>
				</td>
				}
			</tr>
		}
	</tbody>
</table>

</div>