@model StudentPortalProject.Models.Course

@{
	ViewData["Title"] = "Details";
}
@await Html.PartialAsync("_CourseNavbar")
<h1>@Model.CourseName</h1>

<h2>Announcements</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
	<a asp-controller="Announcements" asp-action="Create" asp-route-id="@Model.Id">Create Announcement</a>
}

<div class="card-deck">
	@foreach (var announcement in Model.Announcements)
	{
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">@announcement.Title</h5>
				<p class="card-text">@announcement.Message</p>
			</div>
			<div class="card-footer">
				@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
				{
					<a class="btn btn-sm btn-primary mr-1" href="@Url.Action("Edit", "Announcements", new { id = announcement.Id })">Edit</a>
					<a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Announcements", new { id = announcement.Id })">Delete</a>
				}
				<small class="text-muted">@announcement.Date.ToString("g")</small>

			</div>
		</div>
	}
</div>