@model StudentPortalProject.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.CourseName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstName)
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Announcements" asp-action="Index" asp-route-id="@Model.Id">Announcements</a> |
<a asp-action="AddStudents" asp-route-id="@Model.Id">Add Students</a> |
<a asp-action="ClassList" asp-route-id="@Model.Id">Class List</a> |
    <a asp-controller="Lectures" asp-action="Index" asp-route-id="@Model.Id">View Lectures</a> |
<a asp-controller="Assignments" asp-action="Index" asp-route-id="@Model.Id">Assignments</a>

</div>
