@model Course

<h2>@Model.CourseName - Groups</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Group Name
                <a class="float-end btn btn-sm btn-primary mr-1" href="@Url.Action("Create", "Groups", new{id = Model.Id})">Create</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <td>
                    @group.GroupName
                    <a class="float-end btn btn-sm btn-danger mr-1" href="@Url.Action("Create", "Groups", new{id = Model.Id})">Delete</a>
                    <a class="float-end btn btn-sm btn-warning mr-1" href="@Url.Action("Edit", "Groups", new{groupId = group.Id, courseId = Model.Id})">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>