@model IEnumerable<global::StudentPortalProject.Models.Course>

@{
	ViewData["Title"] = "Index";
}

<div class="page-title-with-button">
	<h1>Courses</h1>
	@if (User.IsInRole("Admin"))
	{
		<button>
			<a asp-action="Create">Create New</a>
		</button>
	}
</div>

<div class="container">
	<div class="row row-cols-3 row-cols-md-2 g-4">
		@foreach (var course in Model)
		{
			<div class="col">
				<a class="link-unstyled" href="@Url.Action("Details", "Courses", new { id = course.Id })">
					<div class="course-card card clickable">
						<div class="course-name card-heading">
							<h5 class="card-title">@course.CourseName</h5>
							@if (User.IsInRole("Admin"))
							{
								<div class="card-icon">
									<a class="" href="@Url.Action("Edit", "Courses", new { id = course.Id })">
										<i class="bi bi-pencil color-white"></i>
									</a>
									<a class="" href="@Url.Action("Delete", "Courses", new { id = course.Id })">
										<i class="bi bi-trash color-white"></i>
									</a>
								</div>
							}
						</div>
						<div class="card-body">
							<p class="course-teacher">@course.Teacher.LastName, @course.Teacher.FirstName</p>
							<p class="card-text">@course.CourseDescription</p>
						</div>
						@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
						{
							<div class="card-footer">
								<a class="btn btn-sm btn-success mr-1" href="@Url.Action("AddStudents", "Courses", new { id = course.Id })">Enroll Students</a>
								@if (User.IsInRole("Admin"))
								{
									<a class="btn btn-sm btn-primary mr-1" href="@Url.Action("Edit", "Courses", new { id = course.Id })">Edit</a>
									<a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Courses", new { id = course.Id })">Delete</a>
								}
							</div>
						}
						</div>
				</a>
			</div>
		}
	</div>
</div>
