@model IEnumerable<global::StudentPortalProject.Models.Course>

@{
	ViewData["Title"] = "Index";
}

<h1>Courses</h1>
@if (User.IsInRole("Admin"))
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}
<div class="container">
	<div class="row row-cols-3 row-cols-md-2 g-4">
		@foreach (var course in Model)
		{
			<div class="col">
				<a class="link-unstyled" href="@Url.Action("Details", "Courses", new { id = course.Id })">
					<div class="course-card card clickable">
						<h5 class="course-name card-title">@course.CourseName</h5>
						<div class="card-body">
							<p class="course-teacher">@course.Teacher.LastName, @course.Teacher.FirstName</p>
							<p class="card-text">@course.CourseDescription</p>
						</div>
						@if (User.IsInRole("Admin"))
						{
							<div class="card-footer">
								<a class="btn btn-sm btn-primary mr-1" href="@Url.Action("Edit", "Courses", new { id = course.Id })">Edit</a>
								<a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Courses", new { id = course.Id })">Delete</a>
							</div>
						}
					</div>
				</a>
			</div>
		}
	</div>
</div>
