@model Course

@{
	ViewData["Title"] = "Assignments";
}
@await Html.PartialAsync("_CourseNavbar")

<div class="page-title-with-button m-4">
<h2>Assignments</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
	<button>
<a asp-controller="Assignments" asp-action="Create" asp-route-id="@Model.Id">Create Assignment</a>
</button>
}
</div>

<div class="card-deck">
	@foreach (var assignment in Model.Assignments)
	{
		<a class="link-unstyled" href="@Url.Action("SubmitAssignment", "Assignments", new { id = assignment.Id })">
			<div class="large-card card clickable-card">
				<div class="large-card-heading card-heading">
					<h3 class="card-title">@assignment.Title</h3>
				</div>
					<div class="card-body">
						
						<p class="card-text">@assignment.Description</p>
						<ul>
							@foreach (var file in assignment.AssignmentFiles)
							{
								var AssignmentFile = Url.Action("DownloadFile", "Assignments", new { id = file.Id });
								<li>
									<a asp-action="DownloadFile" asp-route-id="@file.Id" asp-route-fileType="AssignmentFile">@file.FileName</a>
								</li>
							}
						</ul>
					</div>
					<div class="card-footer">
						@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
						{
							<a class="btn btn-sm btn-primary mr-1" href="@Url.Action("Edit", "Assignments", new { id = assignment.Id })">Edit</a>
							<a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Assignments", new { id = assignment.Id })">Delete</a>
						}
						@if (User.IsInRole("Student"))
						{
							<a class="btn btn-sm btn-primary" href="@Url.Action("SubmitAssignment", "Assignments", new { id = assignment.Id })">Submit Assignment</a>
						}
						<a class="btn btn-sm btn-success" href="@Url.Action("Submissions", "Assignments", new { id = assignment.Id })">View Submissions</a>
					</div>

			</div>
		</a>
	}
</div>