@model Course

@{
	ViewData["Title"] = "Assignments";
}
@await Html.PartialAsync("_CourseNavbar")
<h1>@Model.CourseName</h1>

<h2>Assignments</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
	<a asp-controller="Assignments" asp-action="Create" asp-route-id="@Model.Id">Create Assignment</a>
}
<div class="row">
	@foreach (var assignment in Model.Assignments)
	{
		<a href="@Url.Action("SubmitAssignment", "Assignments", new { id = assignment.Id })">
			<div class="col-md-12 clickable-card">
				<div class="card">
					<div class="card-body">
						<h3>@assignment.Title</h3>
						<p>@assignment.Description</p>

						<ul>
							@foreach (var file in assignment.AssignmentFiles)
							{
								var AssignmentFile = Url.Action("DownloadFile", "Assignments", new { id = file.Id });
								<li>
									<a asp-action="DownloadFile" asp-route-id="@file.Id" asp-route-fileType="AssignmentFile">@file.FileName</a>
								</li>
							}
						</ul>
					</div>
					<div class="card-footer">
						@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
						{
							<a class="btn btn-sm btn-primary mr-1" href="@Url.Action("Edit", "Assignments", new { id = assignment.Id })">Edit</a>
							<a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Assignments", new { id = assignment.Id })">Delete</a>
						}
						@if (User.IsInRole("Student"))
						{
							<a class="btn btn-sm btn-primary" href="@Url.Action("SubmitAssignment", "Assignments", new { id = assignment.Id })">Submit Assignment</a>
						}
						<a class="btn btn-sm btn-success" href="@Url.Action("Submissions", "Assignments", new { id = assignment.Id })">View Submissions</a>
					</div>

				</div>
			</div>
		</a>
	}
</div>